<div class="hero" data-component="hero" contenteditable="false">
  <div class="hero__parallax" data-mdx-component="parallax" data-md-color-scheme="slate" data-md-color-media="dark"
        contenteditable="false">
    <div data-md-color-scheme="slate" class="hero-parallax__layer"
            id="parallax-hero-image-layer" contenteditable="false">
      <noscript>
            {{ no_script_image }}

        <style>
            html {
                scroll-behavior: smooth;
            }
            #CTA_header {
            animation: glow 3000ms ease-in-out infinite alternate;
            }
            #CTA_header,
            #CTA_paragraph {
                opacity: 1;
                visibility: visible;
                  transition:
                    background-color 350ms ease-in-out,
                    color 300ms ease-in-out,
                    scale 350ms ease-in;
            }
            #pt2-hero-content-section h1 {
                visibility: visible;
            }
            #pt3-hero-content-section {
                visibility: visible;
            }

            @media screen and (prefers-reduced-motion: reduce) {
                html {
                    scroll-behavior: instant;
                }
            }
        </style>

      </noscript>
        <div class="mdx-hero__teaser">
            <h1 contenteditable="false" id="CTA_header" class="cta-container">Join the
                Fight</h1>
            <p id="CTA_paragraph" contenteditable="false">To End Confusion!</p>
            <div class="hero-cta-button">
                <a class="hero-target-selector" href="#pt3-hero-content-section" contenteditable="false">
                    <button contenteditable="false" id="hero-primary-button"
                        class="md-button">Get
                        Clear
                        Terms
                    </button>
                </a>
            </div>
    </div>
    </div>
    </div>
    <section data-md-color-scheme="slate" class="hero-content-section"
        id="pt2-hero-content-section">
        <div id="pt2-hero-content-section-header">
            <h1 class="hero-content-section header-mid line hero-content-emphasis fade-in">
                <span>licenses</span><br />
                <span>people </span><span>can</span><br />understand</span></h1>
        </div>
    </section>
    <div id="pt2-3-buffer"></div>
    <section data-md-color-scheme="slate" class="hero-content-section" id="pt3-hero-content-section">
        <div class="md-typeset hero-grid">

        <h1 class="hero-content-section header" id="pt3-hero-content-section-header">
            welcome to
            the
            plain language <span class="special-highlight">revolution</span>
        </h1>
        {{ page.content }}
        </div>

    </section>
</div>


<a href="#pt3-hero-content-section" class="hero-target-selector" >
    <svg view-box="0 0 24 24" class="hero__scroll-down" id="arrow-down" title="scroll down for more"
        xmlns="http://www.w3.org/2000/svg" role="button" contenteditable="false">
        <path d="M11 4h2v12l5.5-5.5 1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5 11 16z">
        </path>
    </svg>
</a>
