{% if page.meta and page.meta.hide %}
{% set hidden = "hidden" if "tags" in page.meta.hide %}
{% endif %}
{% set license_type = page.meta["license_type"] %}
{% set tags = page.meta.tags %}
{% if tags %}
<p class="md-nav__description license">
    features
</p>
<nav class="md-tags">
    {% for tag in tags %}
    {% set tag = tag | trim %}
    {% set tag_text = config['extra']['boilerplate']['tag_text'][tag] %}
    {% macro replacer(tag_text, license_type) %}
    {{ tag_text | replace("{{ license_type }}", license_type | trim) | trim }}
    {% endmacro %}
    {% set rendered_text = replacer(tag_text, license_type) %}
    {% if config.extra.tags %}
    {% set icon_name = config.extra.tags[tag] %}
    {% set icon = "md-tag--" ~ icon_name %}
    {% if icon_name %}
  <a id="{{ tag }}" href="../../../tags.html#{{ tag }}" class="md-tag md-tag-icon {{ icon }}"
    title="{{ rendered_text | trim }}">
  </a>
    {% endif %}
    {% endif %}
    {% endfor %}
</nav>
{% endif %}
