/* Default settings */

.hero-parallax__image {
  --scale: 1.1;
  --object-fit: cover;
  --perspective: 100rem;
  --perspective-origin: center bottom;
  --object-position: center bottom;
  --translate-x: 0%;
  --translate-y: 0%;

  position: relative;
  top: 0;
  z-index: -5;
  box-sizing: content-box;
  display: block;
  grid-column-start: 1;
  place-self: start start;
  width: 100%;
  min-width: 100vw;
  max-width: 3840px;
  height: 100%;
  padding: 1px 0 1rem;
  margin-bottom: 0.1rem;
  overflow: hidden visible;
  object-fit: var(--object-fit);
  object-position: center bottom;
  background: var(--gunmetal);
  transition: 1500ms opacity ease-in-out;
  transform-origin: center center;
  scale: var(--scale);
  perspective: var(--perspective);
  perspective-origin: center bottom;
  will-change: transform opacity;
}

.hero-parallax__image--anime {
  --h1-color: var(--atomic-tangerine);
  --h2-color: var(--emerald);
}

.hero-parallax__image--artbrut {
  --h1-color: var(--atomic-tangerine);
  --h2-color: var(--aqua);
}

.hero-parallax__image--comic {
  --h1-color: var(--aquamarine);
  --h2-color: var(--white);
}

.hero-parallax__image--fanciful {
  --h1-color: var(--mindaro);
  --h2-color: var(--aqua);
  --perspective-origin: 30% 20%;
  --scale: 1;
}

.hero-parallax__image--fantasy {
  --h1-color: var(--white);
  --h2-color: var(--mindaro);
  --scale: 1;
}

.hero-parallax__image--farcical {
  --h1-color: var(--atomic-tangerine);
  --h2-color: var(--aqua);
  --scale: 1;
}

.hero-parallax__image--fauvist {
  --h1-color: var(--mindaro);
  --h2-color: var(--white);
}

.hero-parallax__image--minimal {
  --h1-color: var(--atomic-tangerine);
  --h2-color: var(--white);
  --scale: 1;
  --perspective: 50rem;
}

.hero-parallax__image--mystical {
  --h1-color: var(--blue-blue);
  --h2-color: var(--white);
  --scale: 1;
  --perspective: 40rem;
}

.hero-parallax__image--surreal {
  --h1-color: var(--white);
  --h2-color: var(--atomic-tangerine);
  --scale: 1;
}

/* Portrait orientation */
@media (orientation: portrait) {
  .hero-parallax__image {
    --scale: 1.4;
    --object-fit: cover;
  }

  .hero-parallax__image--anime {
    --h1-color: var(--atomic-tangerine);
    --h2-color: var(--white);
    --perspective: -50rem;
    --scale: 1.8;
  }

  .hero-parallax__image--artbrut {
    --h1-color: var(--atomic-tangerine);
    --h2-color: var(--aqua);
  }

  .hero-parallax__image--comic {
    --h1-color: var(--aquamarine);
    --h2-color: var(--white);
    --scale: 1.2;
  }

  .hero-parallax__image--fanciful {
    --h1-color: var(--mindaro);
    --h2-color: var(--atomic-tangerine);
  }

  .hero-parallax__image--fantasy {
    --h1-color: var(--atomic-tangerine);
    --h2-color: var(--mindaro);
  }

  .hero-parallax__image--farcical {
    --h1-color: var(--mindaro);
    --h2-color: var(--aqua);
  }

  .hero-parallax__image--fauvist {
    --h1-color: var(--mindaro);
    --h2-color: var(--white);
  }

  .hero-parallax__image--minimal {
    --h1-color: var(--atomic-tangerine);
    --h2-color: var(--white);
  }

  .hero-parallax__image--mystical {
    --h1-color: var(--white);
    --h2-color: var(--aquamarine);
  }

  .hero-parallax__image--surreal {
    --h1-color: var(--white);
    --h2-color: var(--atomic-tangerine);
  }
}
